body {
    background-color: rgb(55, 105, 243);
    font: normal 15pt Arial;
    color: white;
}

header {
    text-align: center;
}

section {
    background-color: white;
    color: black;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.219);
}

div {
    text-align: center;
}

div > img {
    padding-top: 20px;
}

footer {
    text-align: center;
    font-style: italic;
}